@import '../../../../../sass/colors';

:host {
  background: url('../../../../../assets/pope-francis.png') 0 0 fixed;
  background-size: cover;
  min-height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media(max-width: 980px) {
    background-position: center 0;
  }
}

.blur-box {
  max-width: 500px;
  margin-left: 10%;

  .blurred-bg {
    background: url('../../../../../assets/pope-francis.png') 0 0 fixed;
    background-size: cover;
    filter: blur(10px);
    position: absolute;
    width: 100%;
    height: 100%;

    @media(max-width: 980px) {
      background-position: center 0;
    }
  }

  .blur-content {
    overflow: hidden;
    position: relative;

    .blurred-info {
      background: rgba($black,0.35);
      display: flex;
      flex-direction: column;
      padding: 30px 70px 30px 30px;
      position: relative;
      z-index: 1;
    }

    .pre-title,
    .title,
    .info,
    .more-info,
    .veredict {
      color: $white;
    }

    .pre-title {
      opacity: 0.7;
    }

    .title {
      font-size: 4rem;
      margin-bottom: 25px;
    }

    .info {
      font-size: 1.35rem;
      line-height: 1.2;
      margin-bottom: 20px;
      opacity: 0.7;
    }

    .more-info {
      display: flex;
      align-items: center;
      font-size: 0.9rem;
      text-decoration: underline;
      margin-bottom: 40px;

      img {
        margin-right: 5px;
      }
    }

    .veredict {
      font-weight: 700;
      font-size: 1.2rem;
    }
  }

  @media(max-width: 980px) {
    margin: 0 10px;
  }
}

.thumbs-container {
  display: flex;

  .thumbs {
    min-height: 80px;
    min-width: 50%;
  }

  .thumbs-up {
    background: rgba($java,0.9);
  }

  .thumbs-down {
    background: rgba($sun,0.9);
  }
}

.closing-in {
  display: flex;

  .closing,
  .closing-date {
    display: flex;
    max-height: 50px;
    align-items: center;
    padding: 10px;
  }

  .closing {
    background: rgba($black, 0.2);
    color: $white;
    font-size: 0.8rem;
    font-weight: 700;
    justify-content: flex-end;
    text-transform: uppercase;
    position: relative;
    width: 30%;

    &::after {
      content: '';
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
      border-left: 8px solid rgba($black, 0.2);
      height: 0px;
      right: -8px;
      width: 0px;
      position: absolute;
    }
  }

  .closing-date {
    background: rgba($white, 0.9);
    font-size: 2.3rem;
    font-weight: 300;
    width: 70%;

    b {
      margin-right: 5px;
      font-size: 2.3rem;
    }
  }
}