<app-menu></app-menu>
<div class="blur-box">
  <div class="blur-content">
    <div class="blurred-bg"></div>
    <div class="blurred-info">
      <span class="pre-title">What's your opinion on</span>
      <h1 class="title">Pope Francis?</h1>
      <p class="info">He's talking tough on clergy sexual abuse, but is hi just another papal pervert protector? (thumbs down) or a true pedophile punishing pontiff? (thumbs up)</p>
      <a class="more-info">
        <figure><img src="assets/wiki.png" /></figure> More information
      </a>
      <span class="veredict">What's Your Veredict?</span>
    </div>
  </div>
  <div class="thumbs-container">
    <button class="thumbs-up thumbs">
      <figure><img src="assets/thumb-up.svg" /></figure>
    </button>
    <button class="thumbs-down thumbs">
      <figure><img src="assets/thumb-down.svg" /></figure>
    </button>
  </div>
</div>
<div class="closing-in">
  <span class="closing">Closing in</span>
  <span class="closing-date"><b>22</b> days</span>
</div>