@import 'sass/colors';

* {
  box-sizing: border-box;
  color: $tundora;
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;

  @media(max-width: 980px) {
    font-size: 13px;
  }
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga" on;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
label,
input,
a,
button,
select,
textarea {
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 0;

  &:focus {
    outline: none;
  }
}

select {
 -moz-appearance: none;
 -webkit-appearance: none;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
}

input,
select,
textarea,
button {
  border: 0;
  border-radius: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  background: transparent;
  cursor: pointer;
}

button::-moz-focus-inner {
  border: 0;
}

a {
  cursor: pointer;
  text-decoration: none;

  &:focus,
  &:active,
  &:hover {
    text-decoration: none;
  }
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

::placeholder {
  opacity: 1;
}
