@import '../../../../../sass/colors';

:host {
  background: url('../../../../../assets/people.png') center center no-repeat;
  background-size: cover;
  display: block;
  margin-bottom: 40px;
}

.container {
  align-items: center;
  background-color: rgba($white, 0.8);
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.disc {
  color: $scorpion;
  font-size: 1.8rem;
}

.submit {
  border: 3px solid $tundora;
  font-size: 1.3rem;
  font-weight: 700;
  padding: 15px 30px;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;

  &:hover {
    background-color: rgba($black, 0.2);
  }
}