@import '../../../../../sass/colors';

:host {
  background: linear-gradient(to bottom, rgba($black,0.5) 0%,rgba($black,0) 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  min-height: 120px;
}

.logo {
  color: $white;
  font-size: 2rem;
  font-weight: 500;
}

.menu {
  display: flex;
  align-items: center;

  .menu-item {
    color: $white;
    padding: 0 20px;
  }

  .search {
    padding-left: 20px; 
  }
}