@import '../../../../../sass/colors';

:host {
  align-items: center;
  border-top: 1px dotted rgba($black, 0.4);
  display: flex;
  opacity: 0.7;
  justify-content: space-between;
  height: 100px;

  @media(max-width: 767px) {
    flex-direction: column;
    height: auto;
    padding: 20px 0;
  }
}

.menu-item,
.follow {
  font-size: 0.8rem;
}

.menu-item {
  margin-right: 20px;
}

.follow {
  align-items: center;
  display: flex;

  @media(max-width: 767px) {
    margin-top: 20px;
  }
}

.img {
  margin-left: 15px;
}